h1,h2,h3{
    font-family: "Montserrat", sans-serif;
}
p{
    font-family: "Hind", "sans-serif";
}
.is-1rem-padding{
    padding: 1rem;
}
.is-2rem-padding{
    padding: 2rem;
}
.is-3rem-padding{
    padding: 3rem;
}
.is-4rem-padding{
    padding: 4rem;
}
.is-5rem-padding{
    padding: 5rem;
}