$base-unit: 8px;
$gutter: 24px;

$grid-1: $base-unit * 1;
$grid-2: $base-unit * 2;
$grid-3: $base-unit * 3;
$grid-4: $base-unit * 4;
$grid-5: $base-unit * 5;
$grid-6: $base-unit * 6;
$grid-7: $base-unit * 7;
$grid-8: $base-unit * 8;
$grid-9: $base-unit * 9;
$grid-10: $base-unit * 10;
$grid-11: $base-unit * 11;
$grid-12: $base-unit * 12;
$grid-13: $base-unit * 13;
$grid-14: $base-unit * 14;
$grid-15: $base-unit * 15;
$grid-16: $base-unit * 16;  