.fade-in {
  animation: fadeIn 1s;
}

.ativo {
  animation: surgir 1s forwards;
}
.rising {
  animation: rising 1s forwards;
}

@keyframes rising {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes header-animation {
  from {
    opacity: 0;
    padding: 15rem 0;
  }
  to {
    opacity: 1;
    padding: 5rem 0;
  }
}

@media only screen and (min-width: $mobile-small-up) {  
  @keyframes header-animation {
    from {    
      opacity: 0.8;
      padding: 15rem 0;
    }
    to {
      opacity: 1;
      padding: 7rem 0;
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(10px)
  }

  to {
    transform: translateY(0px)
  }
}



@keyframes surgir {
  
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
  
}