@keyframes rising {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes header-animation {
  from {
    opacity: 0;
    padding: 15rem 0;
  }
  to {
    opacity: 1;
    padding: 5rem 0;
  }
}

@media only screen and (min-width: $mobile-small-up) {  
  @keyframes header-animation {
    from {    
      opacity: 0.8;
      padding: 15rem 0;
    }
    to {
      opacity: 1;
      padding: 7rem 0;
    }
  }
}

@keyframes up-portifolio {
  from {
    top: 695px;
  }
  
  to {
    top: 0;
  }
}

@keyframes down-portifolio {
  from {
    top: 0;
  }
  
  to {
    top: 695px;
  }
}


@keyframes backward {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(0.9)
  }
}

@keyframes forward {
  from {
    transform: scale(0.9)
  }
  to {
    transform: scale(1)
  }
}

