@keyframes rising {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes grow-up {
  from {
    opacity: 0;
    height: 100%;
  }
  to {
    opacity: 1;
    height: 50%;
  }
}

@media only screen and (min-width: $mobile-small-up) {  
  @keyframes grow-up {
    from {    
      opacity: 0.8;
      height: 100%;
    }
    to {
      opacity: 1;
      height: 50%;
    }
  }
}

@keyframes up-portifolio {
  from {
    top: 100vh;
  }
  
  to {
    top: 0;
  }
}

@keyframes down-portifolio {
  from {
    top: 0;
  }
  
  to {
    top: 100vh;
  }
}

@keyframes backward {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(0.9)
  }
}

@keyframes forward {
  from {
    transform: scale(0.9)
  }
  to {
    transform: scale(1)
  }
}

