.contact  {
  background-color: $secondary;
  padding: 3rem 0;
  animation: grow-up 2s forwards;
  
  .container,
  .contact__inner {
    height: 100%;
  }

  .contact__inner {
    @include display(flex);
    @include align-items(center);    
    @include justify-content(center);

    .contact__links {
      width: 100%;
      max-width: 18rem;

      .contact__links-row {
        @include display(flex);
        @include justify-content(space-around);
        height: 5.5rem;

        .contact__link {
          display: inline-block;
          width: 100%;
          height: 100%;
          @include display(flex);
          @include justify-content(center);
          @include align-items(center);
          opacity: 0;
        }

        .contact__link:nth-child(1) {
          animation: rising 1s forwards 1.3s;
        }

        .contact__link:nth-child(2) {
          animation: rising 1.3s forwards 1.3s;
        }

        .contact__link:nth-child(3) {
          animation: rising 1.6s forwards 1.3s;
        }

        .contact__link:nth-child(4) {
          animation: rising 1.9s forwards 1.3s;
        }

        .contact__link {

          img {
            transition: all .6s  ease;
          }
        }

        .contact__link:hover {
          img {
            transform: translateY(-3px);
          }
        }

        .contact__link:active {
           img {
             transform: scale(0.989);
           }
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-small-up) {
  .contact {
    padding: 5rem 0;

    .contact__inner {
      .contact__links {
        max-width: 24rem;
      }
    }
  }
}