.footer  {
  background-color: $secondary;
  height: 50vh;

  .container,
  .footer__inner {
    height: 100%;
  }

  .footer__inner {
    @include display(flex);
    @include align-items(center);    
    @include justify-content(center);

    .footer__links {
      width: 100%;
      max-width: 20rem;

      .footer__links-row {
        @include display(flex);
        @include justify-content(space-around);
        height: 5.5rem;

        .footer__link {
          display: inline-block;
          width: 100%;
          height: 100%;
          @include display(flex);
          @include justify-content(center);
          @include align-items(center);
        }
      }
    }
  }
}