.header {
  @extend .bg-primary;
  color: $secondary;
  padding: 5rem 0;
  animation: grow-up 2s forwards;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  .container,
  .header__inner {
    height: 100%;
    width: 100%;
  }

  .header__inner {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    .header__content {
      text-align: center;
      width: 100%;

      .header__title {
        opacity: 0;
        animation: rising 2s forwards;
        animation-delay: 0.1s;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0.3rem;
        line-height: 2rem;
      }

      .header__title-transitional {
        animation: rising 2s forwards;
        animation-delay: 0.1s;
        height: 30px;
        width: 100%;
        display: inline-block;
        font-family: $font-primary;
      }
    }
  }
}

@media only screen and (min-width: $mobile-small-up) {
  .header {
    padding: 7rem 0;

    .header__inner {
      .header__content {
        .header__title {
          font-size: 100px;
          line-height: 100px;
        }

        .header__title-transitional {
          font-size: 32px;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-height: $mobile-small-up) and (orientation: landscape) {
  .header .header__inner .header__content .header__title {
    font-size: 21px;
    line-height: 1.7rem;
  }
}
