.modal {
  position: fixed;
  display: none;
  top: 100vh;
  left: 0;
  z-index: 1;

  .modal__header {
    height: 40vh;
    z-index: 0;

    .modal__hero {
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      height: 100%;
      width: 100%;

      .modal__hero-image {
        max-width: 260px;
      }
    }
  }

  .modal__back-wrap {
    cursor: pointer;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 2rem;

    svg {
      margin-right: 16px;
    }
  }

  .modal__content {
    background: #fff;
    z-index: 3;
    display: block;
    opacity: 1;
    width: 100vw;
    height: 60vh;
    overflow-y: scroll;
    position: relative;

    .content__container {
      width: 90%;
      max-width: 500px;
      padding: 3rem 0;
      margin: 0 auto;
      min-height: 60vh;

      p {
        font-family: "Roboto", Helvetica, Calibri, sans-serif;
        margin-bottom: 1.6rem;
        font-size: 18px;
        letter-spacing: -0.004em;
        line-height: 1.58;
      }
    }
  }
}

@media only screen and (min-width: $mobile-up) {
  .modal {
    // position: absolute;
    .modal__content {
      // overflow-y: unset;

      .content__container {
        width: 50%;

        p {
          margin-bottom: 2rem;
          font-size: 21px;
        }
      }
    }
  }
}

@keyframes rise-details {
  from {
    width: 100vw;
    top: 100px;
    opacity: 0;
  }
  to {
    width: 100vw;
    top: 0px;
    opacity: 1;
  }
}

.modal.active {
  display: block;
  animation: upModal 0.5s forwards;

  .modal__back-wrap {
    opacity: 1;
  }
}

.modal.inactive {
  display: block;
  animation: downModal 0.5s forwards;

  .modal__back-wrap {
    opacity: 0;
  }
}

@keyframes upModal {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@keyframes downModal {
  from {
    display: block;
    top: 0;
  }
  to {
    display: none;
    top: 100vh;
  }
}

// item theming
.modal[data-brand="compracerta"] {
  .modal__header {
    background-color: #f6f6f6;

    .modal__back-icon {
      fill: #000;
    }
  }
}

.modal[data-brand="linx"] {
  .modal__header {
    background-color: #411e5a;

    .modal__back-icon {
      fill: #fff;
    }
  }
}

.modal[data-brand="google"] {
  .modal__header {
    background-color: #fff;

    .modal__back-icon {
      fill: #000;
    }
  }
}

.modal[data-brand="semparar"] {
  .modal__header {
    background-color: #eeeeee;

    .modal__back-icon {
      fill: #000;
    }
  }
}

.modal[data-brand="consul"] {
  .modal__header {
    background-color: #9bca3c;

    .modal__back-icon {
      fill: #fff;
    }
  }
}

.modal[data-brand="bibleplan"] {
  .modal__header {
    background-color: #6a2d56;

    .modal__back-icon {
      fill: #fff;
    }
  }
}

.modal[data-brand="vogabito"] {
  .modal__header {
    background-color: #f8f8f8;

    .modal__back-icon {
      fill: #000;
    }
  }
}

.modal[data-brand="fixer"] {
  .modal__header {
    background-color: #ffdd57;

    .modal__back-icon {
      fill: #000;
    }
  }
}

.modal[data-brand="editmode"] {
  .modal__header {
    background-color: #2d3047;

    .modal__back-icon {
      fill: #fff;
    }
  }
}
