

.portifolio {  
  height: 100vh;
  left: 0;
  right: 0;
  top: 100vh;
  position: absolute;
  background: #fff;
  transition: 2s;

  .portifolio__header {
    padding: 2rem 0;
    text-align: center;
    
    h2 {
      @extend .color-primary;
      font-size: 2rem;
      font-family: $font-primary;
    }
  }

  .portifolio__items {
    @include display(flex);
    @include flex-wrap(wrap);

    .portifolio__item {
      width: 100%;
      height: 18em;
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);
      position: relative;
      overflow: hidden;

      .portifolio__item-img {
        max-width: 50%;
        transition: .5s;
      }

      .portifolio__item-title {
        font-size: 1rem;
        position: absolute;
        top: 18rem;
        color: #fff;
        font-family: $font-secondary;
        font-weight: bold;
        transition: .5s;

        background: #000000;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        width: 100%;
        height: 2rem;
      }
    }

    .portifolio__item:hover {
      .portifolio__item-img  {
        transform: scale(0.9)
      }

      .portifolio__item-title {
        top: 16rem;
      }
    }
  }
}


@media only screen and(min-width: $mobile-small-up) {
  .portifolio {
    .portifolio__items {
      .portifolio__item {
        width: calc(100% / 2)
      }
    }
  }
}

@media only screen and(min-width: $mobile-up) {
  .portifolio {
    .portifolio__items {
      .portifolio__item {
        width: calc(100% / 3)
      }
    }
  }
}

.portifolio.scrolling {
  // position: fixed;
  transition: top 1s ease-out;
  top: 0;
}

.portifolio.unscrolling {
  transition: top 1s;
  top: 100vh;
}

// item theming
.portifolio__item.semparar {
  background-color: #000000;
}
.portifolio__item.consul {
  background-color: #9BCA3C;
}
.portifolio__item.bibleplan {
  background-color: #6A2D56;
}
.portifolio__item.vogabito {
  background-color: #F8F8F8;
}
.portifolio__item.fixer {
  background-color: #FFDD57;
}
.portifolio__item.brasa {
  background-color: #F8F8F8;
}