@charset "UTF-8";
/*!
  SCSS/CSS file for azabraao portifolio
  Syntax: BEM
  Created by: Abraão Azevedo (@azabraao)
  Date: 23/07/2019 
*/
@import url("https://fonts.googleapis.com/css?family=Domine|Roboto+Pro&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", "Source Sans Pro", Helvetica, Calibri, sans-serif; }

p,
a,
span,
input,
form,
label,
button {
  font-family: "Roboto", Helvetica, Calibri, sans-serif; }

/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

.bg-primary, .header {
  background-color: #000000; }

.bg-secondary {
  background-color: #ffffff; }

.color-primary, .portifolio .portifolio__header h2 {
  color: #000000; }

.color-secondary {
  color: #ffffff; }

@keyframes rising {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes header-animation {
  from {
    opacity: 0;
    padding: 15rem 0; }
  to {
    opacity: 1;
    padding: 5rem 0; } }

@media only screen and (min-width: 30rem) {
  @keyframes header-animation {
    from {
      opacity: 0.8;
      padding: 15rem 0; }
    to {
      opacity: 1;
      padding: 7rem 0; } } }

@keyframes up-portifolio {
  from {
    top: 695px; }
  to {
    top: 0; } }

@keyframes down-portifolio {
  from {
    top: 0; }
  to {
    top: 695px; } }

@keyframes backward {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.9); } }

@keyframes forward {
  from {
    transform: scale(0.9); }
  to {
    transform: scale(1); } }

.bg-primary, .header {
  background-color: #000000; }

.bg-secondary {
  background-color: #ffffff; }

.color-primary, .portifolio .portifolio__header h2 {
  color: #000000; }

.color-secondary {
  color: #ffffff; }

.font-primary {
  font-family: "Domine", "Source Sans Pro", Helvetica, Calibri, sans-serif; }

.font-secondary {
  font-family: "Roboto", Helvetica, Calibri, sans-serif; }

.container {
  padding: 0 2rem; }

.contact {
  background-color: #ffffff;
  padding: 3rem 0;
  min-height: 16.25rem; }
  .contact .container,
  .contact .contact__inner {
    height: 100%; }
  .contact .contact__inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .contact .contact__inner .contact__links {
      width: 100%;
      max-width: 18rem; }
      .contact .contact__inner .contact__links .contact__links-row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
        height: 5.5rem; }
        .contact .contact__inner .contact__links .contact__links-row .contact__link {
          display: inline-block;
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          opacity: 0; }
        .contact .contact__inner .contact__links .contact__links-row .contact__link:nth-child(1) {
          animation: rising 1s forwards 1.3s; }
        .contact .contact__inner .contact__links .contact__links-row .contact__link:nth-child(2) {
          animation: rising 1.3s forwards 1.3s; }
        .contact .contact__inner .contact__links .contact__links-row .contact__link:nth-child(3) {
          animation: rising 1.6s forwards 1.3s; }
        .contact .contact__inner .contact__links .contact__links-row .contact__link:nth-child(4) {
          animation: rising 1.9s forwards 1.3s; }
        .contact .contact__inner .contact__links .contact__links-row .contact__link img {
          transition: all .6s  ease; }
        .contact .contact__inner .contact__links .contact__links-row .contact__link:hover img {
          transform: translateY(-3px); }
        .contact .contact__inner .contact__links .contact__links-row .contact__link:active img {
          transform: scale(0.989); }

@media only screen and (min-width: 30rem) {
  .contact {
    padding: 5rem 0; }
    .contact .contact__inner .contact__links {
      max-width: 24rem; } }

.header {
  color: #ffffff;
  padding: 5rem 0;
  min-height: 16.25rem;
  animation: header-animation 2s; }
  .header .container,
  .header .header__inner {
    height: 100%; }
  .header .header__inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header .header__inner .header__content {
      max-width: 16rem;
      text-align: left; }
      .header .header__inner .header__content .header__title {
        opacity: 0;
        animation: rising 1s forwards;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: .3rem;
        line-height: 2rem; }
        .header .header__inner .header__content .header__title .header__title-transitional {
          font-family: "Domine", "Source Sans Pro", Helvetica, Calibri, sans-serif; }
      .header .header__inner .header__content .header__subtitle {
        animation: rising 2s forwards .1s;
        opacity: 0;
        font-size: 14px;
        font-family: "Roboto", Helvetica, Calibri, sans-serif;
        font-weight: normal;
        line-height: 1.3rem; }

@media only screen and (min-width: 30rem) {
  .header {
    padding: 7rem 0; }
    .header .header__inner .header__content {
      max-width: 22rem; }
      .header .header__inner .header__content .header__title {
        font-size: 32px;
        line-height: 2.5rem; }
        .header .header__inner .header__content .header__title .header__title-transitional {
          height: 30px;
          display: inline-block;
          width: 100%; }
      .header .header__inner .header__content .header__subtitle {
        font-size: 18px;
        line-height: 1.6rem; } }

.portifolio {
  height: 100vh;
  left: 0;
  right: 0;
  position: absolute;
  background: #fff; }
  .portifolio .portifolio__header {
    padding: 4rem 0;
    text-align: center; }
    .portifolio .portifolio__header h2 {
      font-size: 2rem;
      font-family: "Domine", "Source Sans Pro", Helvetica, Calibri, sans-serif; }

.portifolio.scrolling {
  animation: up-portifolio 2s forwards; }

.portifolio.unscrolling {
  animation: down-portifolio 2s forwards; }

.first-section.backward {
  background-color: #ccc;
  animation: backward 1s forwards; }

.first-section.forward {
  animation: forward 1s forwards; }
